
@media (prefers-color-scheme: dark) {
	body {
	  background: #2d373f;
	  color:#dad8d8;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {	
		color:#dad8d8;
	}

	b {
		color:rgb(180, 178, 178);
	}

	.profile {
		color: rgb(128, 199, 243);
		border-color: #b9b7b7;
	}

	.navbar {
		background-color: #1f2830;
	}

	.nav-pills > li > a.active {
		background-color: #39574a !important;
	}

	.view {
		color:#dad8d8;
	}

	.card {
		background-color: #5a676d;
	}

	.dropdown a {
		color:#dad8d8 !important;
	}

	.dropdown ul{	
		background-color: #84949c;
	}
	
}