@media (prefers-color-scheme: dark) {
	body {
	  background: #191c1f;
	  color:#dad8d8;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {	
		color:#dad8d8;
	}

	b {
		color:rgb(180, 178, 178);
	}

	.profile {
		color: rgb(128, 199, 243);
		border-color: #b9b7b7;
	}

	.navbar {
		border: 0;
		background-color: #232a33;
		box-shadow: 0px 0px 10px 0px rgba(214, 214, 220, 0.924);
	}

	.navbar a {
		color:#dff3f3 !important;
	}

	.navbar a:hover {
		color:#5d5f5f !important;
	}

	.nav-pills > li > a.active {
		background-color: #516269 !important;
	}

	.view {
		color:#dad8d8;
	}

	.card {
		border: 0;
		background-color: #232a33;
		box-shadow: 0px 0px 10px 0px rgba(214, 214, 220, 0.924);
	}

	.dropdown label {
		color:#dad8d8 !important;
	}

    .dropdown input {
		background-color: #39574a !important;
	}

	.dropdown ul{	
		background-color: #5a676d;
	}

	.button {
		background-color: #cacccf;
	}

	.button:hover {
		background-color: #dff3f3;
		box-shadow: 0px 10px 15px rgba(71, 175, 153, 0.4);
	}
	
}